/* Fonts */

@font-face {
	font-family: "Stephanie Marie";
	src: url('fonts/StephanieMarie.ttf') format('truetype');
}

@font-face {
	font-family: "Parisian";
	src: url('fonts/Parisian.ttf') format('truetype');
}

@font-face {
	font-family: "Kuenstler 165";
	src: url('fonts/Kuenstler165.otf');
}

@font-face {
	font-family: "Academy Engraved";
	src: url('fonts/AcademyEngraved.ttf');
}

/* Nav Bar */

.navbar-height {
	height: 85px;
}

.navbar.container {
	padding:10px;
}

	/* Contact Button */
#contact-btn {
	font-size: 1.2em; 
	float:right; 
	margin-top:10px; 
	padding: 13px; 
	border-radius: 50px;
	font-weight: 100;
	background-color: #1bb0c5;
}

#contact-btn:hover {
	background-color: #1bced8
}

.logo {
	position: absolute;
	max-width: 50%;
}

header {
	padding: -5px;
	color: #002b2e;
}

header h4 {
	padding-bottom: 10px;
}

header.row {
	margin-left: 0;
}


/* Work on this: color, size, font, padding, margin */

#small-contact {
	display: none;
}





	/* Logo */

.lawOffice {
	font-family: "Academy Engraved";
	text-transform: uppercase;
	font-size: 0.9em;
}

.name {
	font-family: "Stephanie Marie", Montez;
	display: inline;
	font-size: 2.5em;
	line-height: 1.1;
	color: #008cb0;
}

/* General Styles */

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	font-weight: 300;
}

.main-font {
	color: #04474c;
	font-size: 1.2em;
}

.first {
	font-size: 1.6em;
}

h1, h2, h3, h4, h4, h6 {
	font-family: "Kuenstler 165";
	color: #265154;
	text-transform: uppercase;
}
h4 {
	font-size:1.2em;
}

h3 {
	font-size: 0.9em;
}

h2 {
	font-size: 2.2em;
}

/* Fade In Effects */

div.hidden
{
	display: none
}

#small-circles {
	display: none;
}

/* Circles */

svg {
	display: inline-block;
	/*border: 30px;*/
}

.secondary-page-circles {
	margin-left: -30px;
}

li {
	display: inline-block;
	list-style : none;
}

text {
	font-size: 2em;
	fill: white;
	font-family: "Kuenstler 165";
}

text.smallCircles {
	font-size: 1.8em;
}
	/* Fill Colors */

#first-circle {
	fill: #008cb0;
}

#second-circle {
	fill: #1bb0c5;
}

#third-circle {

	fill: #1bced8;
}

#fourth-circle {
	
	fill: #16aba2;
}

#fifth-circle {
	fill: #088652;
}

#first-circle:hover, #second-circle:hover, #third-circle:hover, #fourth-circle:hover, #fifth-circle:hover {
	fill: #8A8A8A;
}

/* Body */

.home-main, .main, .page {
	border-top: 80px;
}
.spacer {
	height: 20px;
}
.end-spacer {
	height: 100px;
}
.main {
	margin-top: 60px;
}
.main ul li{
	margin-left: -20px;
}

/* Footer */

#footer {
   font-size: .8em;
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#eee;
}

footer {
	padding-top: 15px;
	color: black;
	clear: both;
}

button {
	color: white;
	background-color: #008cb0;
	border: #eee;
	font-size: 1.5em;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
	.programming-col h1 {
		font-size: 3em;
	}
}

@media screen and (max-width: 1000px) {
	#large-circles {
		display: none;
	}
	#small-circles {
		display: block;
	}
}

@media screen and (max-width: 1000px) {
	.main ul li{
		margin-bottom: -20px;
	}
	.contact-list {
		text-align: center;
	}
}

@media screen and (max-width: 880px) {
	.lawOffice {
		font-size: 0.7em;
	}
	.first {
		font-size: 1.2em;
	}

	.navbar-height {
		height: 75px;
	}
	.name {
		font-size: 2.1em;
	}
	.logo {
		max-width: 100%;
	}
	h4.contrasting1-color {
		font-size:1em;
	}
	#contact-btn {
		font-size:1.1em;
		margin-top:8px;
		padding: 10px;
	}
}

@media screen and (max-width: 770px){
	.logo {
		float:left;
	}
	#contact-btn {
		display:none;
	}
	#small-contact {
		display: inline-block;
	}
}

@media screen and (max-width: 460px){
	.lawOffice {
		font-size: 0.6em;
	}
	.first {
		font-size: 1.1em;
	}
	.name {
		font-size: 1.9em;
	}
}

@media screen and (max-width: 420px){
	.name {
		font-size: 1.5em;
	}
}
